body{
    background-size: cover;
    background-position: center;
}
#back_button
{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: large;
    float: right;
    
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
h3
{
    padding-right: 100px;
}

